@import "tailwindcss";

@layer base {
  body {
    font-family: 'Outfit', 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @apply transition-colors duration-300;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Outfit', sans-serif;
  }
}